{% extends "base.html" %}

{% block content %}
<h1 class="text_for_name" align="center">Главная страница</h1>
<h4> сейчас существуют страницы /authors /country/map/Россия
    /ground/map/Москва /posts /add_posts /lk
</h4>
<h4>
    Думая над темой для проекта мы вдохновились соц сетями и решили создать мини ленту публикаций от пользователей

    Цель: Разработать сайт на flask

    Задачи:
    1. Изучить организацию подобных приложений.
    2. Спроектировать пользовательский интерфейс.
    3. Реализовать Взаимодействие с API и ORM моделями
    4. Оформить проект.

</h4>

{% endblock %}
